# Python cache files
__pycache__/
*.pyc

# Python virtual environments
venv/
.venv/

# Jupyter temporary files
.ipynb_checkpoints/

# Windows system files
Thumbs.db
Desktop.ini

# Power BI temporary files
*.tmp

# VS Code local settings
.vscode/